<head>
    <meta charset="utf-8">
    <meta name="viewport"  content="width=device-width, initial-scale=1">
    <title>Blog | <% title %></title>
    <style>
        body{
            display: flex;
            margin: 10px auto;
            max-width: 1100px;
        }
        nav{
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid #ddd;
            text-transform: uppercase;
        }
        nav ul{
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
        }
        nav li{
            list-style-type: none;
            margin-left: 20px;

        }
        nav h1{
            font-size: 3em;

        }
        nav p, nav a{
            color: #777;
            font-weight: 300;

        }
        footer{
            color: #777;
            text-align: center;
            margin: 80px auto 20px;
        }
        h2{
            margin-bottom: 40px;
        }
        h3{}
        .content{
            margin-left: 20px;

        }
        .create-blog form{
            max-width: 400px;
            margin:  0 auto;
        }
        .create-blog input,
        .create-blog{
            display: block;
            width: 100px;
            margin: 10px 0;
            padding: 8px;

        }
        .create-blog label{
            display: block;
            margin-top: 24px;
        }
        .create-blog button{
            margin-top: 20px;
            background: red;
            color: wheat;
            padding: 6px;
            border: 0;
            font-size: 1.2rem;
            cursor: pointer;
        }
        textarea{
            height: 120px;
        }
    </style>

</head>