<nav>
    <div class="site-title">
        
    <a href="/"><h1>Lionel messi</h1></a>
        <p>Messi is the best football player</p>
    </div>
    <ul>
        <li ><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blogs</a></li>
    </ul>
</nav>